
    {{> header}}
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            Cristian Almanzar
        </div>
        <div class="col-4">
            <img src="/assets/img/pic.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
    {{> footer}}